@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: Lato, sans-serif;
	line-height: 1.6;
}
.wrapper {
	margin-left: 20px;
	width: 810px;
	min-height: 100%;
}
h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin-top: 38px;
}

.header-image {
	margin-top: 92px;
	margin-bottom: 60px;
}
.div__main_text {
	margin-bottom: 24px;
}
.main-text {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
}
.div__main_text2 {
	margin-bottom: 48px;
}
.div__main_text2 > p {
	margin-bottom: 30px;
}
.div__main_text3 {
	margin-left: 58px;
	margin-bottom: 48px;
}
.main-text3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
}
.div__main_text4 {
	margin-bottom: 24px;
}
span {
	color: red;
	display: inline-block;
	margin-right: 16px;
}
.list {
	margin-bottom: 24px;
}
.main-text5 {
	line-height: 1.5;
}
.constructed {
	margin-left: 20px;
	margin-top: 24px;
}
